/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica, sans-serif;
}

h1{
    text-align: center;
}

header{
    width: 100%;
    box-sizing: inherit;
}

.logo-header{
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    height: 50px;
}
.container{
    width: 100%;
    margin: 40px auto;
    text-align: center;
}

.row{
    margin: 20px;
    display: inline-block;
}

.card{
    display: inline-block;
    position: relative;
    width: 300px;
    height: 433px;
    margin: 5px;
}

.hidden-images{
    display: none;
}

.img-1:hover .img-1b{
    display: inline-block;
}

.span{
    color: white;
    font-weight: bold;
    font-size: 10px;
    position: absolute;
    left: 0;
    bottom: 20px;
    padding: 5px 3px;
    z-index: 2;
}

img{
    width: 100%;
    height: 100%;
}

.description{
    text-align: left;
    padding-top: 5px;
}

p{
    font-size: 12px;
}

.red-p{
    color: red;
    font-weight: bold;
}

strike{
    color: black;
    font-weight: normal;
}

.heart{
    position: absolute;
    top: 30px;
    right: 0;
    background-color: white;
    padding: 8px 10px;
}

.discount{
    background-color: red;
}

.sustainability{
    background-color: green;
}

.aligned{
    left: 32px;
}


